parameters:
	level: 1
	phpVersion: 70400
	paths:
		- src
	bootstrapFiles:
		- ../../common/autoload.php
		- vendor/autoload.php
	editorUrl: 'vscode://file/%%file%%:%%line%%'
	universalObjectCratesClasses:
		- BaseObject
	dynamicConstantNames:
		- RX_BASEURL
	ignoreErrors:
		- '#Constant RX_BASEURL not found#'
